<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.QuestionVMMapper">

	<resultMap type="com.briup.apps.poll.bean.extend.QuestionVM" id="QuestionVMResultMap">
     		<id column="id" property="id"/>
     		<result column="name" property="name"/>
     		<result column="questionType" property="questionType"/>
     		<collection
			column="id"
			property="options"
			select="selectOptionsById"/>
	</resultMap>
	
	<resultMap type="com.briup.apps.poll.bean.Options" id="OptionsResultMap">
		<result column="question_id" property="questionId"/>
	</resultMap>
	
	
	<select id="selectAllQuestion"  parameterType="Long" resultMap="QuestionVMResultMap">
		select * from  poll_question where
		 id in(
		 	select question_id from poll_qq where questionnaire_id=#{id}
		 )
	</select>
	
	<select id="selectOptionsById" resultMap="OptionsResultMap">
		select * from poll_options where question_id=#{id}
	</select>
	
</mapper>