<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.apps.poll.dao.extend.QuestionVMMapper">
	<select id="selectAll" resultMap="QuestionVMResultMap">
		select * from poll_question
	</select>
	<select id="findQuestionVMById" resultMap="QuestionVMResultMap">
		select * from poll_question where id=#{id}
	</select>

	<!-- 定义结果集 -->
	<resultMap type="com.briup.apps.poll.bean.Options" id="OptionsResultMap">
		<result column="question_id" property="questionId" />
	</resultMap>

	<resultMap type="com.briup.apps.poll.bean.extend.QuestionVM"
		id="QuestionVMResultMap">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="questionType" property="questionType" />

		<collection column="id" property="options"  select="selectOptionsByQuestionId">
		</collection>
	</resultMap>

	<select id="selectOptionsByQuestionId" parameterType="long"
		resultMap="OptionsResultMap">
		select * from poll_options where question_id = #{id}
	</select>

	<select id="queryQuestion" parameterType="Long" resultMap="QuestionVMResultMap">
		select * from poll_question where id=#{id}
	</select>
	<select id="queryQuestionVM" parameterType="String" resultMap="QuestionVMResultMap">
		select * from poll_question where name=#{name}
	</select>

</mapper>
